* {
  /*box-sizing: border-box;*/
}

div, input {
  font-size: 11px;
}

div.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

div.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50px;
  padding-top: 120px;
}

div.tab {
  display: flex;
  flex-direction: column-reverse;

}

div.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #a7a7a7;
  height: 120px;
}

div.footer {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #a7a7a7;
  height: 50px;
}

div.kalimba-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

div.tab-row {
  position: relative;
}

div.tab-row:nth-child(4n) {
  border-top: 1px solid #000;
}

div.tab-row:hover,
div.tab-row:hover .tabkey:not(.filled) {
  background: deepskyblue;
  transition: background-color .25s ease;
}

.tab-row .fas {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 20px;
  width: 20px;
  right: -20px;
  transition: all .25s ease;
  opacity: 0;
}

.tab-row .delBtn {
  right: -20px;
  color: #ff7575;
}

.tab-row .addBtn {
  right: -36px;
  color: #078f5c;
}

.tab-row:hover .fas {
  opacity: 1;
  /*background: #000;*/
}

.tab-row .fas:hover {
  /*transform: rotate(180deg);*/
}

div.key {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  width: 20px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 10px;
  margin-right: 5px;
  user-select: none;
}

.highlighted {
  background: #ff7575 !important;
}

div.key:last-child,
div.tabkey:last-child,
div.tab-note-hint:last-child {
  margin-right: 0;
}

div.tabkey {
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  margin-right: 5px;
  background: #fff;
}

div.tabkey.filled {
  border-radius: 50%;
  background: #000;
}

div.tab-note-hint {
  display: inline-flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  /*border-radius: 50%;*/
  border: 1px solid #000;
  border-left: 1px solid #000;
  margin-right: 5px;
  background: #fff;
}

input.tuning-note {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: inherit;
  text-align: center;
}

div.hidden {
  display: none;
}