
/* --------------------------- */

div.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50px;
  padding-top: 150px;
}

div.tab {
  display: flex;
  flex-direction: column-reverse;
}

