* {
  /*box-sizing: border-box;*/
  font-size: 15px;
}

html {
  overflow-y: scroll;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {

}

div, input {
  font-size: 11px;
}

/*----------------------------------------------*/

div.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

div.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50px;
  padding-top: 150px;
}

div.tab {
  display: flex;
  flex-direction: column-reverse;
}

div.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #a7a7a7;
  height: 150px;
}

div.footer {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #a7a7a7;
  height: 50px;
}

div.kalimba-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

div.tab-row {
  position: relative;
}

/*div.tab-bar div.tab-row:hover,*/
/*div.tab-bar div.tab-row:hover div.tabkey {*/
/*  background: deepskyblue;*/
/*  transition: background-color .25s ease;*/
/*}*/

.tab-row .fas {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 20px;
  width: 20px;
  right: -20px;
  transition: all .25s ease;
  opacity: 0;
}

.tab-row .delBtn {
  right: -20px;
  color: #ff7575;
}

.tab-row .addBtn {
  right: -36px;
  color: #078f5c;
}

.tab-row .playBtn {
  /*right: -52px;*/
  left: -30px;
  color: #07648f;
}

.tab-row:hover .fas {
  opacity: 1;
}

.tab-row .fas:hover {
  /*transform: rotate(180deg);*/
}

div.key {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  width: 20px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 10px;
  margin-right: 5px;
  user-select: none;
}

.highlighted {
  background: #ff7575 !important;
}

div.key:last-child,
div.tabkey:last-child,
div.tab-note-hint:last-child {
  margin-right: 0;
}

div.tabkey {
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  margin-right: 5px;
  background: #fff;
  color: #000;
  justify-content: center;
  align-items: center;
  user-select: none;
}

div.tabkey span.note-symbol {
  font-size: 20px;
}

div.tabkey.filled.rest {
  background: #fff;
  border: 1px solid #000;
  color: #000;
}

div.tab-note-hint {
  display: inline-flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  /*border-radius: 50%;*/
  border: 1px solid #000;
  border-left: 1px solid #000;
  margin-right: 5px;
  background: #fff;
}

input.tuning-note {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: inherit;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

input.tuning-note:focus {
  outline: none;
}

div.hidden {
  display: none;
}

input#tempo {
  width: 40px;
}

div.duration-editor {
  font-size: 30px;
}

div.bar-line {
  position: relative;
  height: 0px;
  border-top: 1px solid #000;
}

div.bar-line div.bar-number {
  position: absolute;
  left: -15px;
  top: -8px;
  font-size: 9px;
  width: 15px;
  text-align: center;
}

div.tab-row-container:last-child div.bar-line div.bar-number {
  top: 0;
}

div.tab-bar {
  /*border-top: 1px solid #000;*/
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
/* Bar color toggling style */
div.tab-bar:nth-child(2n),
div.tab-bar:nth-child(2n) div.tab-row,
div.tab-bar:nth-child(2n) div.tab-row div.tabkey{
  background-color: #c8c8c8;
}

div.tab-bar.bar-error,
div.tab-bar.bar-error div.tab-row,
div.tab-bar.bar-error div.tab-row div.tabkey{
  background: #ff4444;
}

div.tab-bar div.tab-row:hover,
div.tab-bar div.tab-row:hover div.tabkey {
  background: #00bfff;
  transition: background-color .25s ease;
}

div.tab-bar div.bar-number {
  position: absolute;
  left: -15px;
  top: -8px;
  font-size: 9px;
  width: 15px;
  text-align: center;
}

div.tab-bar:last-child div.bar-number {
  top: 0;
}

/* -------------------------------------------- */

/* Input */
.input {
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;


}

.input:focus {
  background: deepskyblue;
}

/* Button */
.button,
.input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  padding: 5px;
  box-shadow: 0 0 0 2px gray;
  background-color: #fff;
  border-radius: 3px;
  font-size: 15px;
  margin: 2px;
  cursor: pointer;
}

.input {
  position: relative;
}

.input:focus {
  cursor: text;
}

.tempo {
  position: relative;
  cursor: pointer;
}

.tempo .input {
  padding-left: 10px;
  width: 2.5em;
  text-align: right;
}

.tempo:after {
  content: '𝅘𝅥=';
  position: absolute;
  left: 7px;
  top: 3px;
  font-size: 15px;
  color: gray;
  pointer-events: none;
}

.button:hover,
.input:hover {
  box-shadow: 0 0 0 2px #000;
}

.button:active {
  background-color: deepskyblue; 
}

.button__text {
  font-size: 15px;
  user-select: none;
}

a.button {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

/* Input Raw */
.input-raw {
  border: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  background-color: transparent;
}

.input-raw:focus {
  outline: none;
}

.tab-title {
  font-size: 15px;
  font-weight: 700;
}

